<h1>Heroes list!</h1>
#if ($hero)
 <ul>
   #foreach ($hero in $hero)
     <li><a href="/heroes/$hero.getId()">$hero.getDescription()</a>
     <a href="/heroes/$hero.getId()">$hero.getAge()</a>
     <a href="/heroes/$hero.getId()">$hero.getPower()</a>
     <a href="/heroes/$hero.getId()">$hero.getWeakness()</a>
   </li>
   #end
 </ul>
#else
 <p>No heroes added!</p>
#end
<a href="/heroes/new">Add New Hero</a>

