<p>Add a Hero:</p>

<form action="/heroes" method="post">
  <label for="description">Hero Name</label>
  <input id="description" name="description" type="text">
  <br>

  <button type="submit" class="btn btn-primary">Add hero</button>
</form>