<h1>Welcome to the Heroes Application</h1>

<p>This is an application where you can add any hero you like and can also have a squad of heroes of your choosing.</p>
<p>Lets get started!</p>

<a href="/heroes/new">Add a new hero</a>
<br>
<a href="/heroes">View all current heroes</a>
<br>
<link rel='stylesheet' href='/app.css'>

<a href="/squads">View Squads List</a>
<br>
<a href="/squads/new">Add a New Squad</a>