<h1>Welcome to the Heroes Application</h1>

<a href="/heroes/new">Add a new hero</a>
<a href="/heroes">View all current heroes</a>
<link rel='stylesheet' href='/app.css'>

<a href="/squads">View Squads List</a>
<a href="/squads/new">Add a New Squad</a>